*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}

.comeback1{
    width: 46.875rem;
    height: 4rem;
    background-color: rgba(125, 125, 125, 0.19);
    /* background-color: #7d7d7d; */
    /* opacity: 0.19; */
    display: flex;
    align-items: center;
    
    
}

.comeback1 p{
    width: 6rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.65);
    font-family: "PingFangSC-Regular, sans-serif";
}

p.title1{
    width: 26.25rem;
    height: 2.625rem;
    line-height: 2.625rem;
    margin: 2.5rem 17.4375rem 1rem 3.1875rem;
    font-size: 1.9375rem;
    font-weight: 550;
    color: #121212;
    line-height: 2.625rem;
    font-family: "PingFangSC-Regular, sans-serif";
  }
  p.info{
      height: 2.625rem;
      width: 40.625rem;
      margin-left:3.1875rem;
  }
  span.info1{
      display: inline-block;
      width: 3.8rem;
      height: 2rem;
      margin-right: 1.425rem;
      background-color: #E7E7E7;
      background-size:100% 100%;
      border-radius: 0.25rem;
      font-size: 1.25rem;
      padding: 0rem 0.5rem 0.3125rem 0.5rem;  
      line-height: 2rem; 
      color: rgba(18, 18, 18, 0.5);
      font-weight: 400;
      font-family: "PingFangSC-Regular, sans-serif";
      /* vertical-align: top; */
      /* margin-bottom: 0.625rem; */
  }
  span.info2,span.info4{
    display: inline-block;
    width: 4.5rem;
    height: 2.625rem;
    font-size: 1.5rem;
    line-height: 2.625rem;
    font-weight: 400;
    color: rgba(18, 18, 18, 0.5);
    font-family: "PingFangSC-Regular, sans-serif";
    margin-right: 1.25rem;
  }

  span.info3{
      display: inline-block;
      width: 12rem;
      height: 2.625rem;
      line-height: 2.625rem;
      font-size: 1.5rem;
      /* color: #494f5f; */
      color:rgba(16, 16, 16, 0.85);
      font-weight: 550;
      font-family: "PingFangSC-Regular, sans-serif";
      margin-right: 1.25rem;
  }
  span.info4{
      width: 15rem;
  }



  .content{
      width: 40.625rem;
      margin: 3.75rem 3.125rem 0rem 3.125rem ;
  }
   img.icon1{
       width: 40.625rem;
       height: 10rem;
       margin-bottom: 3.75rem;
   }

   p.foreword{
       width: 100%;
       font-size: 1.75rem;
       line-height: 2.625rem;
       font-weight: 400;
       color: rgba(0, 0, 0, 0.85);
       font-family:  "PingFangSC-Regular, sans-serif";
       margin-bottom: 2.5rem;
    }

    img.icon2{
        width: 100%;
        height: 26.9375rem;
        margin-bottom: 4.25rem;

    }

    img.first{
        width: 3.875rem;
        height: 3.5rem;
        margin-bottom: 0.5rem;
    }
    p.oneTitle{
        font-size: 2rem;
        line-height: 3.5rem;
        font-weight: 500;
        color: #FC7320;
        font-family: " PingFangSC-Medium, sans-serif";
        margin-bottom: 1.875rem;
        margin-left: 0.3125rem;
    }
    p.onecontent{
        font-size: 1.75rem;
        line-height: 3.5rem;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 549;
        font-family: "PingFangSC-Regular, sans-serif";
        margin-bottom: 5rem;
    }
    img.icon3{
        width: 40.625rem;
        height: 15rem;
        margin-top: 4.8125rem;
        }

    div.question{
        width: 40.75rem;
        height: 13.125rem;
        background-image: url(./img/编组\ 11@2x.png);
        background-size:  40.625rem 12.5rem;
        padding-top:1.3125rem ;
        margin-top: 3.75rem;
    }
     div.question p{
         width: 38.4375rem;
         height: 10.5rem;
         margin:  0rem 1.3125rem 1.3125rem 1rem;
         font-size: 2rem;
         line-height: 3.5rem;
         font-weight: 600;
         /* font-family: SimHei; */
         font-family: "PingFangSC-Medium, sans-serif";
         color: rgba(0, 0, 0, 1);
     }

     p.fixedcontext{
         margin-top: 1.875rem;
         font-size: 1.75rem;
         line-height: 3.5rem;
         color: rgba(0, 0, 0, 0.85);
         
     }
     p span.family1{
        font-family: "PingFangSC-Semibold, sans-serif";
        font-weight: 600;     
     }
     p span.family2{
         font-family: "PingFangSC-Regular, sans-serif";
         font-weight: 500;
     }

     .slice{
         width: 38.5625rem;
         height: 3.125rem;
         margin-top: 3.75rem;
         margin-bottom: 2.5rem;
     }

     img.page1{
         width: 100%;
         height: 23.4375rem;
         margin-bottom:2.8125rem ;
     }
     div.step{
        width: 9.3125rem;
        position: relative;
    }
    
    div.step .left1{
        width: 1.5rem;
        height: 0.25rem;
        background-color: #0054BE;
        position: absolute;
        top: 1.375rem;
        left: 0;
    }
    div.step .right1{
       width: 1.5rem;
       height: 0.25rem;
       background-color: #0054BE;
       position: absolute;
       /* top: 0; */
       top: 1.375rem;
       right: 0;
    }
    div.middle1{
       width: 8.25rem;
       height: 2.75rem;
       border: 0.0625rem dashed #0054BE;
       background-color: rgba(0, 84, 190, 0.05);
       margin: 0 auto;
       font-size: 1.75rem;
       line-height:2.75rem ;
       padding-left: 1.6rem;
       padding-right: 1.6rem;
       font-weight: 600;
       color: rgba(0, 0, 0, 0.85);
       font-family: "PingFangSC-Semibold, sans-serif";
       margin-bottom: 1rem;
    }




    .slice2{
        width: 28.0625rem;
        height: 3.125rem;
        margin-top: 3.75rem;
        margin-bottom: 1.25rem;
    }
    .slice3{
        width: 40.1875rem;
        height: 3.125rem;
        margin-bottom: 2.5rem;
    }

    div.screan{
        width:18.75rem;
        position: relative;
        margin: 0 auto;
        margin-bottom: 2.8125rem;
    }
    
    div.screan .left2{
        width: 1.5rem;
        height: 0.25rem;
        background-color: #0054BE;
        position: absolute;
        top: 1.375rem;
        left: 0;
    }
    div.screan .right2{
       width: 1.5rem;
       height: 0.25rem;
       background-color: #0054BE;
       position: absolute;
       /* top: 0; */
       top: 1.375rem;
       right: 0;
    }
    div.middle2{
        width: 17.75rem;
        height: 2.75rem;
        border: 0.0625rem dashed #0054BE;
        background-color: rgba(0, 84, 190, 0.05);
        margin: 0 auto;
        font-size: 1.75rem;
        line-height:2.75rem ;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
        font-family: "PingFangSC-Semibold, sans-serif";
        /* margin-bottom: 1rem; */
     }

     img.phone{
         display:block;
         width: 9.8125rem;
         height: 26.0625rem;
         margin: 0 auto;
         margin-bottom: 3.6875rem;
     }


     img.bigdata{
         display: block;
         width: 33.5rem;
         height: 29.0625rem;
         margin: 0 auto;
         margin-bottom: 3.8125rem;
         border: 0.0625rem dashed;
     }
     img.lookback{
         width: 33.625rem;
         height: 4.8125rem;
         display: block;
         margin: 0 auto;
         margin-bottom: 2.4375rem;
     }

     img.pic{
         width: 40.625rem;
         height: 10rem;
         margin-bottom: 1.25rem
     }
    

     img.bottomback{
         display: block;
         width: 41.125rem;
         height: 5.5rem;
         margin: 0 auto;
         margin-bottom: 3.125rem;
     }




